<%= bootstrap_form_for(@encounter, layout: :horizontal) do |f| %>
  <% if @encounter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@encounter.errors.count, "error") %> prohibited this encounter from being saved:</h2>

      <ul>
      <% @encounter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :patient_mrn %>
  </div>
  <div class="field">
    <%= f.number_field :visit_number %>
  </div>
  <div class="field">
    <%= f.datetime_select :admitted_at %>
  </div>
  <div class="field">
    <%= f.datetime_select :discharged_at %>
  </div>
  <div class="field">
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.text_field :room %>
  </div>
  <div class="field">
    <%= f.number_field :bed %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-success"%>
  </div>
<% end %>
