<p id="notice"><%= notice %></p>

<h1> Encounter Information </h1>

<table class='table table-bordered'>
  <tbody>

    <tr>
      <td> <strong>Patient MRN:</strong> </td>
      <td> <%= @encounter.patient_mrn %> </td>
    </tr>

    <tr>
      <td> <strong>Visit number:</strong> </td>
      <td> <%= @encounter.visit_number %> </td>
    </tr>

    <tr>
      <td> <strong>Admitted at:</strong> </td>
      <td> <%= @encounter.admitted_at %> </td>
    </tr>

    <tr>
      <td> <strong>Discharged at:</strong> </td>
      <td> <%= @encounter.discharged_at %> </td>
    </tr>

    <tr>
      <td> <strong>Location:</strong> </td>
      <td> <%= @encounter.location %> </td>
    </tr>

    <tr>
      <td> <strong>Room:</strong> </td>
      <td> <%= @encounter.room %> </td>
    </tr>

    <tr>
      <td> <strong>Bed:</strong> </td>
      <td> <%= @encounter.bed %> </td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_encounter_path(@encounter), :class => "btn btn-warning" %> |
<%= link_to 'Back', @back_url, :class => "btn btn-default" %>
