<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @patient.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @patient.middle_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @patient.last_name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @patient.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @patient.height %>
</p>

<p>
  <strong>Mrn:</strong>
  <%= @patient.MRN %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient), :class => "btn btn-warning" %> |
<%= link_to 'Back', patients_path, :class => "btn btn-default" %>

<br><br><br><br>

<%= link_to 'New Encounter', new_encounter_path, :class => "btn btn-primary" %>
<table>
  <thead>
    <tr>
      <th>Patient mrn</th>
      <th>Visit number</th>
      <th>Admitted at</th>
      <th>Discharged at</th>
      <th>Actions</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<% @patient.encounter.each do |encounter| %> 
  <tr>
        <td><%= encounter.patient_mrn %></td>
        <td><%= encounter.visit_number %></td>
        <td><%= encounter.admitted_at %></td>
        <td><%= encounter.discharged_at %></td>
        <td><%= link_to 'Show', encounter, :class => "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_encounter_path(encounter), :class => "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', encounter, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
<% end %>
</table>
